
.main {
    min-height: 93vh;
    display: flex;
    align-items: center;
    background-image: url("../../assets/girlwithmoney.png");
    background-position: center;
    background-size: 500px 600px;
    background-repeat: no-repeat;
}



@media only screen and (min-width: 1200px) {
    .main {
        background-size: 500px 600px;
        background-repeat: no-repeat;
        background-position: right 10px bottom 0px;
    }
    .title {
        padding: 0 100px;
    }
}